p {
	color: navy;
}

p.info {
	font-size: 10pt;
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}



div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px 200px;
	grid-gap: 10px;
	width: 1024px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
p.info{
	font-size: small;
    background-color: #dfdfdf;
}

div {
    padding:5px;
}
img.sign{
    float: right;

}
h2{
    font-family:cursive;
	color: #3f3faf;
	background:linear-gradient(to right ,white,#ffefaf);
}